@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo, <strong>@(char.ToUpper(ViewBag.Environment[0]) + ViewBag.Environment.Substring(1).ToLower())</strong>!</h1>
    <p> Use os menus acima para navegar. </p>
</div>